// 此配置文件采用 KDL 格式：https://kdl.dev
// "/-" 用于注释掉接下来的节点。
// 查看 Wiki 获取完整的配置说明：
// https://niri-wm.github.io/niri/Configuration:-Introduction

// 输入设备配置。
// 在 Wiki 上查看完整选项列表：
// https://niri-wm.github.io/niri/Configuration:-Input
input {
    keyboard {
        xkb {
            // 可以设置规则、型号、布局、变体和选项。
            // 更多信息请参阅 xkeyboard-config(7)。

            // 例如：
            // layout "us,ru"
            // options "grp:win_space_toggle,compose:ralt,ctrl:nocaps"

            // 如果此部分为空，niri 将从 org.freedesktop.locale1 获取 xkb 设置。
            // 你可以使用 localectl set-x11-keymap 来控制这些设置。
        }

        // 启动时启用 NumLock，省略此设置则禁用 NumLock。
        numlock
    }

    // 接下来的部分包含 libinput 设置。
    // 省略设置会禁用它，或保留为默认值。
    // 此处所有被注释掉的设置均为示例，并非默认值。
    touchpad {
        // off
        tap
        // dwt
        // dwtp
        // drag false
        // drag-lock
        natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "two-finger"
        // disabled-on-external-mouse
    }

    mouse {
        // off
        // natural-scroll
        // accel-speed 0.2
        accel-profile "flat"
        // scroll-method "no-scroll"
    }

    trackpoint {
        // off
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "on-button-down"
        // scroll-button 273
        // scroll-button-lock
        // middle-emulation
    }

    // 取消注释可使鼠标跳转到新聚焦窗口的中心。
    // warp-mouse-to-focus

    // 当鼠标移入窗口或输出时自动聚焦。
    // 设置 max-scroll-amount="0%" 使其仅对已完全在屏幕上的窗口生效。
    focus-follows-mouse max-scroll-amount="0%"
}

// 你可以通过输出名称来配置，运行 `niri msg outputs` 可查看名称。
// 内置笔记本电脑显示器通常称为 "eDP-1"。
// 在 Wiki 上查看更多信息：
// https://niri-wm.github.io/niri/Configuration:-Outputs
// 记得去掉 "/-" 来取消注释节点！
output "DP-1" {
    // 取消注释此行以禁用此输出。
    // off

    // 输出的分辨率以及可选的刷新率。
    // 格式为 "<宽>x<高>" 或 "<宽>x<高>@<刷新率>"。
    // 如果省略刷新率，niri 将为该分辨率选择最高刷新率。
    // 如果完全省略模式或模式无效，niri 将自动选择一个。
    // 在 niri 实例中运行 `niri msg outputs` 可列出所有输出及其模式。
    mode "2560x1600@165.040"

    // 可以使用整数或小数缩放，例如 1.5 表示 150% 缩放。
    scale 1.1

    // Transform 允许逆时针旋转输出，有效值有：
    // normal、90、180、270、flipped、flipped-90、flipped-180 和 flipped-270。
    transform "normal"

    // 输出在全局坐标空间中的位置。
    // 这会影响方向性显示器操作（如 "focus-monitor-left"）和光标移动。
    // 光标只能在直接相邻的输出之间移动。
    // 定位时需要考虑输出缩放和旋转：
    // 输出的大小以逻辑像素（即缩放后的像素）为单位。
    // 例如，3840×2160 输出缩放 2.0 时逻辑大小为 1920×1080，
    // 因此要将另一个输出放在其右侧相邻位置，需将 x 设置为 1920。
    // 如果位置未设置或导致重叠，输出将被自动放置。
    position x=0 y=0
}

// 影响窗口位置和大小的设置。
// 在 Wiki 上查看更多信息：
// https://niri-wm.github.io/niri/Configuration:-Layout
layout {
    // 设置窗口周围的间隙（逻辑像素）。
    gaps 10

    // 何时在切换焦点时居中列，选项有：
    // - "never"：默认行为，聚焦屏幕外的列将保持在屏幕左边缘或右边缘。
    // - "always"：聚焦的列始终居中。
    // - "on-overflow"：如果聚焦的列与之前聚焦的列无法同时显示，则将其居中。
    center-focused-column "never"

    // 你可以自定义 "switch-preset-column-width"（Mod+R）切换的宽度。
    preset-column-widths {
        // Proportion 将宽度设置为输出宽度的一部分，考虑间隙。
        // 例如，你可以在一个输出上完美容纳四个大小为 "proportion 0.25" 的窗口。
        // 默认预设宽度为输出的 1/3、1/2 和 2/3。
        proportion 0.33333
        proportion 0.5
        proportion 0.66667

        // Fixed 精确设置逻辑像素宽度。
        // fixed 1920
    }

    // 你也可以自定义 "switch-preset-window-height"（Mod+Ctrl+Shift+R）切换的高度。
    // preset-window-heights { }

    // 你可以更改新窗口的默认宽度。
    default-column-width { proportion 0.5; }
    // 如果留空大括号，窗口将自行决定初始宽度。
    // default-column-width {}

    // 默认情况下，焦点环和边框渲染为窗口后面的纯色背景矩形。
    // 也就是说，它们会透过半透明窗口显示出来。
    // 这是因为使用客户端装饰的窗口可能具有任意形状。
    //
    // 如果你不喜欢这样，可以取消注释下面的 `prefer-no-csd`。
    // Niri 将在同意省略客户端装饰的窗口*周围*绘制焦点环和边框。
    //
    // 或者，你可以通过名为 `draw-border-with-background` 的窗口规则覆盖此行为。

    // 你可以更改焦点环的外观。
    focus-ring {
        // 取消注释此行以禁用焦点环。
        // off

        // 环从窗口向外延伸的逻辑像素数。
        width 3.5

        // 颜色可以通过多种方式设置：
        // - CSS 命名颜色："red"
        // - RGB 十六进制："#rgb"、"#rgba"、"#rrggbb"、"#rrggbbaa"
        // - CSS 类似表示法："rgb(255, 127, 0)"、rgba()、hsl() 等

        // 活动监视器上环的颜色。
        active-color "#7fc8ff"

        // 非活动监视器上环的颜色。
        //
        // 焦点环仅在活动窗口周围绘制，因此唯一能看到非活动颜色的地方是其他监视器。
        inactive-color "#505050"

        // 你也可以使用渐变，优先级高于纯色。
        // 渐变的渲染方式与 CSS linear-gradient(angle, from, to) 相同。
        // angle 与 linear-gradient 中的相同，可选，默认值为 180（从上到下的渐变）。
        // 你可以使用网上的任何 CSS linear-gradient 工具来设置。
        // 也支持更改色彩空间，查看 Wiki 了解更多信息。
        //
        // active-gradient from="#80c8ff" to="#c7ff7f" angle=45

        // 你也可以相对于整个工作区视图来设置渐变颜色，
        // 而不仅仅是相对于窗口本身。
        // 为此，设置 relative-to="workspace-view"。
        //
        // inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
    }

    // 你也可以添加边框，与焦点环类似，但始终可见。
    border {
        // 设置与焦点环相同。
        // 如果启用了边框，你可能想禁用焦点环。
        off

        width 4
        active-color "#ffc87f"
        inactive-color "#505050"

        // 需要你注意的窗口周围边框的颜色。
        urgent-color "#9b0000"

        // 渐变可以使用几种不同的插值色彩空间。
        // 例如，通过 in="oklch longer hue" 实现的柔和彩虹渐变。
        //
        // active-gradient from="#e5989b" to="#ffb4a2" angle=45 relative-to="workspace-view" in="oklch longer hue"

        // inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
    }

    // 你可以为窗口启用投影。
    shadow {
        // 取消注释下一行以启用阴影。
        // on

        // 默认情况下，阴影仅在窗口周围绘制，而不是在其后方。
        // 取消注释此设置可使阴影在窗口后方绘制。
        //
        // 请注意，niri 无法知道 CSD 窗口的圆角半径，必须假设窗口有直角，
        // 这会导致 CSD 圆角内出现阴影伪影。此设置可修复这些伪影。
        //
        // 不过，你也可以设置 prefer-no-csd 和/或 geometry-corner-radius。
        // 这样 niri 将知道圆角半径并正确绘制阴影，而无需在窗口后方绘制。
        // 如果窗口绘制了任何客户端阴影，这些设置也会移除它们。
        //
        // draw-behind-window true

        // 你可以更改阴影的外观。以下值以逻辑像素为单位，
        // 与 CSS box-shadow 属性匹配。

        // Softness 控制阴影模糊半径。
        softness 30

        // Spread 扩展阴影范围。
        spread 5

        // Offset 相对于窗口移动阴影位置。
        offset x=0 y=5

        // 你还可以更改阴影颜色和不透明度。
        color "#0007"
    }

    // Struts 会缩小窗口占用的区域，类似于 layer-shell 面板。
    // 你可以将其视为一种外部间隙，以逻辑像素为单位设置。
    // 左侧和右侧 struts 会使侧边的下一个窗口始终可见。
    // 顶部和底部 struts 会在 layer-shell 面板和常规间隙占用的区域之外增加外部间隙。
    struts {
        // left 64
        // right 64
        // top 64
        // bottom 64
    }
}

// 添加类似行以在启动时启动进程。
// 注意，将 niri 作为会话运行时支持 xdg-desktop-autostart，
// 这可能更方便使用。
// 有关更多启动示例，请参见下面的快捷键部分。

// 此行启动 waybar，一个 Wayland 合成器常用状态栏。

spawn-at-startup "noctalia"
spawn-at-startup "fcitx5"
environment {
    LANG "zh_CN.UTF-8"
    LC_ALL "zh_CN.UTF-8"
    LC_MESSAGES "zh_CN.UTF-8"
    LANGUAGE "zh_CN:en"
    XMODIFIERS "@im=fcitx"
    QT_IM_MODULE "fcitx"
    GTK_IM_MODULE "fcitx"
    SDL_IM_MODULE "fcitx"
    GLFW_IM_MODULE "ibus"
    INPUT_METHOD "fcitx"
    IMSETTINGS_MODULE "fcitx"
    QT_QPA_PLATFORMTHEME "qt6ct"
    GSK_RENDERER "gl"
    QS_ICON_THEME "Papirus-Dark"
}

hotkey-overlay {
    skip-at-startup
}

// 取消注释此行以要求客户端尽可能省略客户端装饰。
// 如果客户端明确请求 CSD，该请求将被尊重。
// 此外，客户端将被告知它们处于平铺状态，从而移除一些客户端的圆角。
// 此选项还将修复某些半透明窗口后面的边框/焦点环绘制问题。
// 启用或禁用此选项后，需要重启应用程序才能生效。

prefer-no-csd

// 你可以更改截图的保存路径。
// 开头的 ~ 将扩展为主目录。
// 路径使用 strftime(3) 格式化以包含截图日期和时间。
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

// 你也可以设置为 null 以禁用将截图保存到磁盘。
// screenshot-path null

// 窗口规则允许你调整单个窗口的行为。
// 在 Wiki 上查看更多信息：
// https://niri-wm.github.io/niri/Configuration:-Window-Rules

// 通过设置空 default-column-width 来绕过 WezTerm 的初始配置 bug。
window-rule {
    // 此正则表达式特意写得尽可能具体，
    // 因为这是默认配置，我们希望避免误匹配。
    // 如果愿意，只写 app-id="wezterm" 也可以。
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}


// 默认以浮动方式打开 Firefox 画中画播放器。
window-rule {
    // 此 app-id 正则表达式适用于：
    // - 主机版 Firefox（app-id 为 "firefox"）
    // - Flatpak 版 Firefox（app-id 为 "org.mozilla.firefox"）
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

// 示例：阻止两个密码管理器被屏幕捕获。
// （此示例规则前面加了 "/-" 注释掉了。）
/-window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    block-out-from "screen-capture"

    // 如果希望它们在第三方截图工具中可见，请使用此选项。
    // block-out-from "screencast"
}

// 示例：为所有窗口启用圆角。
// （此示例规则前面加了 "/-" 注释掉了。）
window-rule {
    geometry-corner-radius 12
    opacity 0.85
    draw-border-with-background false
    clip-to-geometry true
    background-effect { blur true; xray false; }
}

/* Apps: blur them all without xray for a better look */
window-rule {
  background-effect {
    blur true
    xray false
  }
}

// noctalia 相关设置
window-rule {
  match app-id="dev.noctalia.Noctalia.Settings"
  open-floating true
  default-column-width { fixed 1080; }
  default-window-height { fixed 920; }
}

/* Apps: blur them all without xray so it looks more realistic. */
window-rule {
  background-effect {
    blur true
    xray false
  }
}

layer-rule {
  match namespace="^noctalia-(bar-[^\"]+|notification|dock|panel|attached-panel|osd)$"
  background-effect {
    xray false
    // blur false
  }
}

debug {
  // Allows notification actions and window activation from Noctalia.
  honor-xdg-activation-with-invalid-serial
}

layer-rule {
    match namespace="^noctalia-backdrop"
    place-within-backdrop true
}


// QQ 相关设置
// 资料卡窗口打开时不自动聚焦
window-rule {
    match title="^资料卡$"
    open-focused false
}

window-rule {
  match title="^图片查看器$"
  open-floating true
  default-column-width { fixed 1200; }
  default-window-height { fixed 800; }
}


binds {
    // 按键由 + 号分隔的修饰键组成，最后跟一个 XKB 键名。
    // 要查找特定键的 XKB 名称，可以使用 wev 之类的程序。
    //
    // "Mod" 是一个特殊修饰键，在 TTY 上运行时等于 Super，
    // 在以 winit 窗口运行时等于 Alt。
    //
    // 大多数可以在此绑定的操作也可以通过 `niri msg action do-something` 以编程方式调用。

    // Mod-Shift-/，通常与 Mod-? 相同，
    // 显示重要快捷键列表。
    Mod+Shift+Slash hotkey-overlay-title="显示重要快捷键" { show-hotkey-overlay; }

    // 建议的启动程序快捷键：终端、应用启动器、屏幕锁定。
    Mod+T hotkey-overlay-title="打开终端: kitty" { spawn "kitty"; }
    Mod+E hotkey-overlay-title="noctalia应用程序启动台" { spawn "noctalia" "msg" "panel-toggle" "launcher"; }
    Mod+X hotkey-overlay-title="打开文件管理器: nautilus" { spawn "nautilus"; }
    Mod+B hotkey-overlay-title="打开 Firefox" { spawn "firefox"; }
    Super+Alt+L hotkey-overlay-title="锁定屏幕: swaylock" { spawn "swaylock"; }

    // 使用 spawn-sh 运行 shell 命令。如果你需要管道、多个命令等，请用这个。
    // 注意：整个命令作为一个单独参数传递，原样传给 `sh -c`。
    // 例如，这是一个切换屏幕阅读器 (orca) 的标准快捷键。
    Super+Alt+S allow-when-locked=true hotkey-overlay-title=null { spawn-sh "pkill orca || exec orca"; }

    // PipeWire 和 WirePlumber 的音量键映射示例。
    // allow-when-locked=true 属性使它们即使在会话锁定时也能工作。
    // 使用 spawn-sh 可以将多个参数与命令一起传递。
    // "-l 1.0" 将音量限制为 100%。
    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+ -l 1.0"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    // 使用 playerctl 的媒体键映射示例。
    // 这将适用于任何支持 MPRIS 的媒体播放器。
    XF86AudioPlay        allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioStop        allow-when-locked=true { spawn-sh "playerctl stop"; }
    XF86AudioPrev        allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioNext        allow-when-locked=true { spawn-sh "playerctl next"; }

    // 使用 brightnessctl 的亮度键映射示例。
    // 你也可以使用带有多个参数的普通 spawn（避免经过 "sh"），
    // 但需要手动将每个参数放在单独的 "" 引号中。
    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

    // 打开/关闭概览：工作区和窗口的缩略视图。
    // 你也可以将鼠标移动到左上角热区，
    // 或在触摸板上四指向上滑动。
    Mod+O repeat=false hotkey-overlay-title="打开概览" { toggle-overview; }

    Mod+Q repeat=false hotkey-overlay-title="关闭窗口" { close-window; }

    Mod+Left  hotkey-overlay-title="聚焦左侧列" { focus-column-left; }
    Mod+Down  { focus-window-down; }
    Mod+Up    { focus-window-up; }
    Mod+Right hotkey-overlay-title="聚焦右侧列" { focus-column-right; }

    Mod+Ctrl+Left  hotkey-overlay-title="向左移动列" { move-column-left; }
    Mod+Ctrl+Down  { move-window-down; }
    Mod+Ctrl+Up    { move-window-up; }
    Mod+Ctrl+Right hotkey-overlay-title="向右移动列" { move-column-right; }

    // 替代命令，在到达列中第一个或最后一个窗口时移动到其他工作区。
    // Mod+J     { focus-window-or-workspace-down; }
    // Mod+K     { focus-window-or-workspace-up; }
    // Mod+Ctrl+J     { move-window-down-or-to-workspace-down; }
    // Mod+Ctrl+K     { move-window-up-or-to-workspace-up; }

    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End  { move-column-to-last; }

    Mod+Shift+Left  { focus-monitor-left; }
    Mod+Shift+Down  { focus-monitor-down; }
    Mod+Shift+Up    { focus-monitor-up; }
    Mod+Shift+Right { focus-monitor-right; }
    Mod+Shift+H     { focus-monitor-left; }
    Mod+Shift+J     { focus-monitor-down; }
    Mod+Shift+K     { focus-monitor-up; }
    Mod+Shift+L     { focus-monitor-right; }

    Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+Down  { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+Up    { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }
    Mod+Shift+Ctrl+H     { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+J     { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+K     { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+L     { move-column-to-monitor-right; }

    // 或者，有只移动单个窗口的命令：
    // Mod+Shift+Ctrl+Left  { move-window-to-monitor-left; }
    // ...

    // 你也可以将整个工作区移动到另一个显示器：
    // Mod+Shift+Ctrl+Left  { move-workspace-to-monitor-left; }
    // ...

    Mod+Page_Down      hotkey-overlay-title="切换到下个工作区" { focus-workspace-down; }
    Mod+Page_Up        hotkey-overlay-title="切换到上个工作区" { focus-workspace-up; }
    Mod+U              { focus-workspace-down; }
    Mod+I              { focus-workspace-up; }
    Mod+Ctrl+Page_Down hotkey-overlay-title="将列移动到下个工作区" { move-column-to-workspace-down; }
    Mod+Ctrl+Page_Up   hotkey-overlay-title="将列移动到上个工作区" { move-column-to-workspace-up; }
    Mod+Ctrl+U         { move-column-to-workspace-down; }
    Mod+Ctrl+I         { move-column-to-workspace-up; }

    // 或者，有只移动单个窗口的命令：
    // Mod+Ctrl+Page_Down { move-window-to-workspace-down; }
    // ...

    Mod+Shift+Page_Down { move-workspace-down; }
    Mod+Shift+Page_Up   { move-workspace-up; }
    Mod+Shift+U         { move-workspace-down; }
    Mod+Shift+I         { move-workspace-up; }

    // 你可以使用以下语法绑定鼠标滚轮滚动。
    // 这些绑定将根据 natural-scroll 设置改变方向。
    //
    // 为避免快速滚动工作区，可以使用 cooldown-ms 属性。
    // 绑定将按此值限速。任何绑定都可以设置冷却时间，但对滚轮最有用。
    Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+WheelScrollRight      { focus-column-right; }
    Mod+WheelScrollLeft       { focus-column-left; }
    Mod+Ctrl+WheelScrollRight { move-column-right; }
    Mod+Ctrl+WheelScrollLeft  { move-column-left; }

    // 通常在应用程序中按住 Shift 上下滚动会变成水平滚动；这些快捷键模拟了这种行为。
    Mod+Shift+WheelScrollDown      { focus-column-right; }
    Mod+Shift+WheelScrollUp        { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

    // 类似地，你可以绑定触摸板滚动"刻度"。
    // 触摸板滚动是连续的，因此这些绑定将其分割为离散间隔。
    // 这些绑定也受触摸板 natural-scroll 设置影响，
    // 因此以下示例绑定是"反向"的，因为默认情况下我们为触摸板启用了 natural-scroll。
    // Mod+TouchpadScrollDown { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.02+"; }
    // Mod+TouchpadScrollUp   { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.02-"; }

    // 你可以按索引引用工作区。但请注意，niri 是一个动态工作区系统，
    // 因此这些命令是"尽力而为"的。
    // 尝试引用大于当前工作区数量的索引将改为引用最底部（空）工作区。
    //
    // 例如，有 2 个工作区 + 1 个空工作区时，索引 3、4、5 等都将引用第 3 个工作区。
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }

    // 或者，有只移动单个窗口的命令：
    // Mod+Ctrl+1 { move-window-to-workspace 1; }

    // 在当前和之前的工作区之间切换焦点。
    // Mod+Tab { focus-workspace-previous; }

    // 以下快捷键将聚焦窗口移入或移出列。
    // 如果窗口单独一列，将合并到侧边的相邻列。
    // 如果窗口已经在列中，则将其移出。
    Mod+BracketLeft  hotkey-overlay-title="向左并入或移出窗口" { consume-or-expel-window-left; }
    Mod+BracketRight hotkey-overlay-title="向右并入或移出窗口" { consume-or-expel-window-right; }

    // 从右侧将一个窗口合并到聚焦列的底部。
    Mod+Comma  { consume-window-into-column; }
    // 将聚焦列中的底部窗口向右移出。
    Mod+Period { expel-window-from-column; }

    // 循环切换 preset-column-widths 中设置的宽度。
    Mod+R hotkey-overlay-title="切换预设列宽" { switch-preset-column-width; }
    // 也可以反向循环切换预设值。
    Mod+Shift+R { switch-preset-column-width-back; }

    Mod+Ctrl+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }

    Mod+F hotkey-overlay-title="最大化列" { maximize-column; }
    Mod+Shift+F { fullscreen-window; }

    // maximize-column 会在窗口周围保留间隙和边框，
    // 而 maximize-window-to-edges 不会：窗口会扩展到屏幕边缘。
    // 此快捷键对应正常的窗口最大化，例如双击标题栏。
    Mod+M { maximize-window-to-edges; }

    // 将聚焦列扩展到未被其他完全可见列占用的空间。
    // 使该列"填满剩余空间"。
    Mod+Ctrl+F { expand-column-to-available-width; }

    Mod+C { center-column; }

    // 将屏幕上所有完全可见的列居中对齐。
    Mod+Ctrl+C { center-visible-columns; }

    // 更精细的宽度调整。
    // 此命令还可以：
    // * 以像素为单位设置宽度："1000"
    // * 以像素为单位调整宽度："-5" 或 "+5"
    // * 以屏幕宽度百分比设置宽度："25%"
    // * 以屏幕宽度百分比调整宽度："-10%" 或 "+10%"
    // 像素大小使用逻辑像素（缩放后的像素）。即在缩放为 2.0 的输出上，
    // set-column-width "100" 将使该列占用 200 个物理屏幕像素。
    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    // 与其他窗口同列时更精细的高度调整。
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    // 在浮动布局和平铺布局之间移动聚焦窗口。
    Mod+V       hotkey-overlay-title="切换窗口浮动/平铺" { toggle-window-floating; }
    Mod+Shift+V hotkey-overlay-title="切换焦点浮动/平铺" { switch-focus-between-floating-and-tiling; }

    // 切换标签式列显示模式。
    // 此列中的窗口将显示为垂直标签，
    // 而不是彼此堆叠。
    Mod+W { toggle-column-tabbed-display; }

    // 切换布局的操作。
    // 注意：如果取消注释这些，请确保上方 xkb 选项中
    // 没有配置相同的布局切换快捷键。
    // 在同一个快捷键上同时启用两者会破坏切换功能，
    // 因为按下快捷键时会切换两次（一次由 xkb 处理，一次由 niri 处理）。
    // Mod+Space       { switch-layout "next"; }
    // Mod+Shift+Space { switch-layout "prev"; }

    Print hotkey-overlay-title="截图" { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    // 远程桌面客户端和软件 KVM 切换器等应用程序可能会
    // 请求 niri 停止处理此处定义的键盘快捷键，
    // 以便它们可以将按键原样转发到远程机器。
    // 建议绑定一个紧急出口来切换抑制器，
    // 这样有问题的应用程序就无法挟持你的会话。
    //
    // allow-inhibiting=false 属性也可以应用于其他绑定，
    // 这确保 niri 始终处理它们，即使抑制器处于活动状态。
    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    // quit 操作将显示确认对话框以避免意外退出。
    Mod+Shift+E hotkey-overlay-title="退出 niri" { quit; }
    Ctrl+Alt+Delete { quit; }

    // 关闭显示器电源。要重新开启，进行任何输入操作即可，
    // 如移动鼠标或按下其他按键。
    Mod+Shift+P { power-off-monitors; }
}

cursor {
    hide-after-inactive-ms 3000
}

include "noctalia.kdl"
include "blur.kdl"
include "pop-drop.kdl"
